.site-footer {
    &__wrapper {
        @extend %wrapper;
        @include media('>=phone', '<tablet') {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        @include media('>=tablet') {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}